{  
  "excludecontentfiles": [
     "Parameters"
  ],
  "parameterfilemappings": {
    "40d1b346-fe1b-4503-8f8e-cfbbf4d7f4b3": {
      "Workbooks/workbook_ADXvsLA.json": "Parameters/workspace-sentinel-eco-test-nazang-parameters.json",
      "workbook_AMA_migration_tracker.json": "Parameters/workspace-sentinel-eco-test-nazang-parameters.json"
    },
    "a2c3834b-49dd-410b-87aa-99f878346c91": {
      "Workbooks/workbook_ADXvsLA.json": "Parameters/workspace-sentinel-eco-test-nazang2-parameters.json",
      "workbook_AMA_migration_tracker.json": "Parameters/workspace-sentinel-eco-test-nazang-parameters.json"
    }
  },
  "DummySection": "This shouldn't impact deployment"
}